.main-page-layout-wrapper{
    display: grid;
    grid-template-columns: 1fr 400px;
}

.main-page-layout{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px;
    gap: 20px;
}
.info-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px;
    gap: 20px;
}

@media (max-width: 900px){
    .info-grid{
        grid-template-columns: 400px;
    }
}

.highlight{
    font-weight: 700; /* maybe not working with this font */
    color: rgb(6, 158, 143);
}

.animanga-section,
.bl-section,
.socials-section,
.general-bio-section{
    width: 100%;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 7px;
}

.general-bio-section{
    background-color: rgba(156, 218, 238, 0.7);
}
.socials-section{
    background-color: rgba(79, 170, 79, 0.7);
}

.socials-section ul{
    margin-left: 70px;
}

.animanga-section{
    background-color: rgba(248, 129, 69, 0.7);
    text-align: center;
}

.guangshi-delulu{
    width: 50%;

}
.bl-section{
    background-color: rgba(226, 150, 63, 0.7);
    text-align: center;
}

.hirakagi-gif{
    width: 300px;
    display: block;
    margin: 0 auto;
}


.section-heading{
    text-align: center;
    font-weight: 500;
    margin: 6px 0;
    font-size: 25px;
}

.section-content{
    font-size: 18px;
    margin-bottom: 15px;
}


.interests-desc{
    background-color: rgb(253, 233, 233);
    grid-column: 1 / 3;
}
