/* @view-transition{
    navigation: auto;
}
::view-transition-group(root){
    animation-duration: 1s;
} */

/* .single-col-grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 400px;
} */

/* .full-page-layout{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
} */

.single-col-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 600px;
    gap: 20px;
}

.interests-page .single-col-grid{
    grid-template-columns: 600px;
}

@media (max-width: 630px){
    .single-col-grid,
    .interests-page .single-col-grid{
        grid-template-columns: 0.9fr;
    }
}

.section-heading{
    text-align: center;
    font-weight: 500;
    margin: 6px 0;
    font-size: 25px;
}

.section-content{
    font-size: 18px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
}


.animanga-desc,
.animanga-section,
.bl-section,
.links-section,
.general-bio-section,
.sites-i-like-section,
.interests{
    width: 100%;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: rgb(39, 39, 39);
}

.general-bio-section{
    /* background-color: rgba(156, 218, 238, 0.7); */
    /* background-color: rgba(115, 139, 175, 0.54); */
    padding: 15px 0 0 15px;
    
}
.links-section ul{
    margin-top: 0;
}


.sites-i-like-section{
    /* background-color: rgba(255, 192, 203, 0.7); */
    /* background-color: rgb(142, 140, 140); */
    position: absolute;
    padding: 0 4px 4px 4px;
    bottom: 0;
    right: 3px;
    width: 20%;
}

.sites-i-like-section .section-heading{
    font-size: 20px;
}


.interests{
    padding: 0 20px 20px 20px;
}
.interests ul{
    column-count: 2;
    column-gap: 0;
}

.animanga-section ul,
.bl-section ul{
    column-count: 2;
}

@media (max-width: 630px){
    .interests ul,
    .animanga-section ul,
    .bl-section ul{
        column-count: 1;
    }
}

.animanga-desc,
.animanga-section{
    padding-right: 10px;
    padding-left: 10px;
}

.guangshi-delulu,
.hirakagi-gif{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

.hirakagi-gif{
    width: 60%;
}
