/* @view-transition{
    navigation: auto;
}
::view-transition-group(root){
    animation-duration: 1s;
} */

/* .main-page-layout-wrapper{
    display: grid;
    grid-template-columns: 1fr 400px;
} */

/* .full-page-layout{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
} */

.main-page-layout,
.interests-page-layout{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px;
    gap: 20px;
}


@media (max-width: 900px){
    .main-page-layout{
        grid-template-columns: 1fr 1fr;
        margin: 50px;
    }
    .interests-page-layout{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .animanga-section,
    .bl-section{
        grid-column: 1 / 2;
    }
}

.section-heading{
    text-align: center;
    font-weight: 500;
    margin: 6px 0;
    font-size: 25px;
}

.section-content{
    font-size: 18px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
}


.animanga-section,
.bl-section,
.links-section,
.general-bio-section,
.sites-i-like-section,
.interests-desc{
    width: 100%;
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: rgb(39, 39, 39);
}

.general-bio-section,
.links-section{
    /* background-color: rgba(156, 218, 238, 0.7); */
    /* background-color: rgba(115, 139, 175, 0.54); */
    padding: 15px 0 0 15px;
    
}
.links-section ul{
    margin-top: 0;
}
.links-section li::marker{
    font-size: 10px;
}

.sites-i-like-section{
    /* background-color: rgba(255, 192, 203, 0.7); */
    /* background-color: rgb(142, 140, 140); */
    padding: 0 4px 4px 4px;
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 20%;
}

.sites-i-like-section .section-heading{
    font-size: 20px;
}


.interests-desc{
    background-color: rgb(107, 105, 105);

}

.interests-desc ul{
    column-count: 2;
}
.animanga-section{
    background-color: rgba(248, 129, 69, 0.7);
}
.animanga-section ul{
    column-count: 2;
}

.guangshi-delulu{
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.bl-section{
    background-color: rgba(226, 150, 63, 0.7);
    text-align: center;
}

.hirakagi-gif{
    width: 60%;
    margin-bottom: 5%;
}
