/* .navbar{
    position: absolute;
    background: rgba(236, 133, 49, 0.7);
    left: 5px;
    top: 0;
} */


.navbar{
    margin-bottom: 15px;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(126, 126, 127);
}

.navbar li{
    float: left;
}
.navbar a{
    display: block;
    text-align: center;
    padding: 15px;
    color: white;
    transition: background-color 0.15s;
}

.navbar a:hover{
    background-color: rgb(117, 117, 117);
    text-decoration: none;
}


.navbar a:active{
    background-color: rgb(66, 64, 64);
    text-decoration: none;
}

/* .navbar-heading{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
} */